 .category-item {
    transition: all 0.4s ease;
    border-radius: 20px;
  }

  .category-item img,
  .category-item p {
    transition: transform 0.4s ease;
  }

  .category-item:hover {
    background-color: var(--y-u-babyPink) !important;
    cursor: pointer;
    box-shadow:0 0.125rem 1rem 3px rgba(0, 0, 0, 0.075);
  }

  .category-item:hover img,
  .category-item:hover p {
    transform: translateY(10px);
  }
  .btn{
    border-color: var(--y-u-blue) !important;
  }
  .btn-add{
color: var(--y-u-blue) !important;
  }
  .pink-border{
    margin-right: 150px;
    border: 1px solid;
    border-color: var(--y-u-pink);
  }
   .header-txt{
    font-size: 96px;
   }