.recipe-card {
  position: relative;
    height: 400px;
}

.recipe-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.recipe-card .overlay {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  padding: 8px 0;
  background: rgba(0, 0, 0, 0.5); 
  font-weight: bold;
  text-align: center;
  border-radius: 0 0 12px 12px; 
}
