<footer class="footer py-5 y-u-blue">
  <div class="container">
    <div class="row text-lg-start container">


      <div class="col-lg-4 col-md-12 text-lg-end mb-4 text-end order-3 order-sm-1 order-lg-1">
        <div class="d-flex align-items-center justify-content-lg-start me-5 mb-3">
          <img src="../../imgs/b72b4d1422e4db5982f7f7745c6104e811ed6983.png" alt="Lamira" width="100" class="ms-2">
          <h2 class="gulzar-regular ">سويت هاوس</h2>
        </div>
        <h5>في مخابز سويت هاوس ، نسعى دائمًا لتوفير أجود المخبوزات والحلويات بأفضل الأسعار. نسعى أيضًا لتجديد منتجاتنا وابتكارها مع الحفاظ على الأصالة والكمال.</h5>
         </div>


      <div class="col-6 col-md-6  col-sm-12 text-sm-end col-lg-4 mb-4 text-lg-center order-1 order-lg-2">
        <ul class="list-unstyled">
          <li class="mb-3 fs-5 fw-bolder"><a href="../../templates/productsPage/layout.html"
              class="text-decoration-none text-dark fw-bolder">المنتجات</a></li>
          <li class="mb-3 fs-5 fw-bolder"><a href="#"
              class="text-decoration-none text-dark">المخبوزات</a></li>
          <li class="mb-3 fs-5 fw-bolder"><a href="#"
              class="text-decoration-none text-dark">الحلويات</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-6 col-lg-4 mb-4 text-end order-2 order-lg-3">
        <h5 class="fw-bold mb-3 me-5 fw-bolder">المعلومات</h5>
        <ul class="list-unstyled ">
          <li class="mb-3 fs-5 fw-bolder"><a href="../../templates/aboutUs/layout.html"
              class="text-decoration-none text-dark"> من نحن</a></li>
          <li class="mb-3 fs-5 fw-bolder"><a href="../../templates/contact/layout.html"
              class="text-decoration-none text-dark">اتصل بنا </a></li>
          <li class="mb-3 fs-5 fw-bolder"><a href="../../templates/policies/layout.html"
              class="text-decoration-none text-dark"> سياسة الخصوصية</a></li>
              <li class="mb-3 fs-5 fw-bolder"><a href="../../templates/policies/layout.html"
              class="text-decoration-none text-dark"> سياسة الاسترجاع</a></li>
        </ul>
      </div>

    </div>

    <div class="text-center mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center">
      <p class="mb-3 mb-md-0 text-white fs-5 fw-bolder">
        &copy; جميع الحقوق محفوظة لـ @ سويت هاوس
      </p>
      <div class="d-flex align-items-center">
        <h6 class="fw-bold ms-3 fs-5">طرق الدفع</h6>
        <div class="d-flex gap-3">
          <img src="../../imgs/9bba8209976eea69d60d23e18935aea608d9ce4d.png" alt="Visa" width="40" height="40">
          <img src="../../imgs/14ac706bc683a40044e5ed088daec5a19cd5f0df.png" alt="Mastercard" width="40" height="40">
          <img src="../../imgs/e40bf75ed54de23843dce07009b07657b2b122da.png" alt="Apple Pay"  width="40" height="40" >
          <img src="../../imgs/b1dc8f7898fcecb316224964f0f4a3cf62f99e42.png" alt="STC Pay"    width="40" height="40"   >
        </div>
      </div>
    </div>
  </div>
</footer>