.product-card button{
    border: 2px solid;
    border-color:var(--y-u-beige) !important;
}
.product-card {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 10px; 
     padding: 10px;
}

.product-card:hover {   
    transform: scale(1.05);
    border: 2px solid var(--y-u-pink);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}
.discount-badge {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 20px 0 20px 0;
}
