<nav class="navbar navbar-expand-lg y-u-blue" >
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-5">
      <a href="#" class="text-dark fs-5 text-decoration-none d-flex align-items-center">
        <i class="fa-solid fa-phone fs-2 ms-2"></i> اتصل بنا
      </a>
      <form class="d-none d-md-block">
        <div class="input-group">
          <input type="text" class="form-control rounded-pill px-5 " placeholder="ابحث...">
          <span class="position-absolute end-0 me-3 top-50 translate-middle-y">
            <i class="fa-solid fa-magnifying-glass "></i>
          </span>
        </div>
      </form>
    </div>
  <div class="d-flex align-items-center gap-3 fs-5">
  <a href="../../templates/cart/layout.html" class="text-dark">
    <i class="fa-solid fa-bag-shopping"></i>
  </a>

  <a href="../../templates/account/myAccount.html" class="text-dark">
    <i class="fa-regular fa-user"></i>
  </a>
</div>

  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <div class="row w-100 align-items-center text-center">

      <div class="col-3 d-flex justify-content-between ">
        <a class="nav-link text-dark fs-3" href="#">الرئيسية</a>
        <a class="nav-link text-dark fs-3" href="../../templates/productsPage/layout.html">المنتجات</a>
      </div>

      <div class="col-6 justify-content-center text-center">
        <a class="navbar-brand d-block mx-auto text-center" href="#">
          <img src="../../imgs/b72b4d1422e4db5982f7f7745c6104e811ed6983.png" alt="logo" width="100">
       
        </a>
      </div>
      <div class="col-3 d-flex justify-content-between gap-4">
        <a class="nav-link text-dark fs-3" href="../../templates/recepies/layout.html">وصفاتنا</a>
        <a class="nav-link text-dark fs-3" href="../../templates/aboutUs/layout.html">من نحن</a>
      </div>

    </div>
  </div>
</nav>
