.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


.popup-card {
  background: #fff;
  padding: 50px 30px;
  border-radius: 20px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 25px rgba(0,0,0,0.2);
}

.return-btn {
  background-color:var(--y-u-beige);
  /* color: #fff; */
  padding: 12px 25px;
  border-radius: 12px;
  /* border: none; */
  /* font-size: 18px; */
}
.return-btn:hover {
  background-color: #9b7a4d;
  color: #fff;
}