.y-u-blue{background-color: var(--y-u-blue);}
.y-u-bluetxt{color: var(--y-u-blue);}
.y-u-pinkClr{color: var(--y-u-pink);}
.y-u-pinkBg{background-color: var(--y-u-pink) !important; }
.y-u-bg{background-color: var(--y-u-babyPink);}